<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mystyle.css')}}">
</head>

<body>
    <div class="sidenav">
        <p>
            <a href="{{url_for('index.main')}}">
                Go back
            </a>
        </p>
        <p>
            <a href="{{url_for('authentication.change_password')}}">
                Change password
            </a>
        </p>
        <p>
            <a href="{{url_for('authentication.logout')}}">
                Logout
            </a>
        </p>
    </div>

    <main>
        <h1>
            Result
        </h1>
        <p>
            The digit in the image is: {{ result }}
        </p>
    </main>
</body>

</html>